<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">🏋️‍♂️ SpotMe 🏋️‍♂️</a>
    <button class="navbar-toggler navbar-toggler-custom" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if current_user && session[:google_token].present? %>
          <li class="nav-item" style="padding-right:10px; padding-top:2px;">
            <%= link_to "Dashboard", dashboard_index_path, class: "btn btn-sm btn-danger button-bg btn-outline-dark" %>
          </li>
          <li class="nav-item" style="padding-right:10px; padding-top:2px;">
            <%= button_to "Find Gyms Near Me", gyms_path, method: :get, params: { zip_code: current_user.zip_code }, class: "btn btn-sm btn-danger button-bg btn-outline-dark" %>
          </li>
          <li class="nav-item" style="padding-right:10px; padding-top:2px;">
            <%= link_to "Log Out", logout_path(current_user.id), method: :delete, class: "btn btn-sm btn-danger button-bg btn-outline-dark" %>
          </li>
        <% else %>
          <li class="nav-item">
              <%= link_to 'Sign in with Google', '/auth/google_oauth2', method: :post, class: "btn btn-sm btn-danger button-bg btn-outline-dark", id: 'sign-in' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
