<h1 align="center"><br/>
  <div align="center">
    <div class="card navbar-brown" style="width:flex;">
      <div class="card-body">
        <h1 align="center">
          SpotMe
        </h1><br/>
        <h5 class="card-title">
          Mission</h5>
        <h6 class="card-subtitle mb-2">
          Find your 'swole mate' and fitness besties by adding your gyms to your profile, adding friends and creating events to go work out.</h6>
      </div>
    </div>
  </div>
</h1><br/>
