<h1>SpotMe</h1>
<h3>Mission:</h3>
<p>Find your 'swol mate' and fitness besties by adding your gyms to your profile, adding friends and creating events to go work out.</p>
<br>
<%= link_to 'Sign in with Google', '/auth/google_oauth2', class: "btn btn-info btn-sm btn-outline-dark" %>
