<div class="container flex-wrap-reverse gray full-radius padding mb-3 mt-150" id='profile-header'>
  <div class="row item-center center-it-all">
    <h1 class='welcome-title'>Welcome to SpotMe</h1>

    <h2 class='welcome-subtitle'>
      Find your future 'SwoleMate' or fitness bestie at your gym and schedule a workout together!
    </h2>
  </div>
</div>
