---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=1&radius=40000&sort_by=distance&term=gyms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer Hmy9yZNUg25XWov24drrnIqhNP7b7qshtwInwyJOwJ5PAc7r4Zgk_JJLtC5BNxjDqBppN0iFag6xuzppm_0juzI1om0MlzgQVNQ46jTfWQ7kyl7kGcmFUYh764ZCYXYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--useast1-7bbf457c88-plcpl; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      X-Zipkin-Id:
      - f6177624018c0b75
      Ratelimit-Remaining:
      - '4831'
      Ratelimit-Resettime:
      - '2021-09-19T00:00:00+00:00'
      X-Cloudmap:
      - routing_useast1
      X-Proxied:
      - 10-65-175-160-useast1bprod
      X-Extlb:
      - 10-65-175-160-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "LHIH_N0qdlHSMtpIwAJiGA", "alias": "james-dean-tanzbar-eisenstadt",
        "name": "James Dean Tanzbar", "image_url": "", "is_closed": false, "url":
        "https://www.yelp.com/biz/james-dean-tanzbar-eisenstadt?adjust_creative=U3I_hTsM_rclzkCXyDmD1w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=U3I_hTsM_rclzkCXyDmD1w",
        "review_count": 2, "categories": [{"alias": "dancestudio", "title": "Dance
        Studios"}, {"alias": "nightlife", "title": "Nightlife"}], "rating": 4.5, "coordinates":
        {"latitude": 47.8344499, "longitude": 16.5233199}, "transactions": [], "location":
        {"address1": "Mattersburger Str. 26", "address2": null, "address3": null,
        "city": "Eisenstadt", "zip_code": "7000", "country": "AT", "state": "1", "display_address":
        ["Mattersburger Str. 26", "7000 Eisenstadt", "Austria"]}, "phone": "+43268264249x0",
        "display_phone": "+43 2682 64249 ext. 0", "distance": 20072.357732294604},
        {"id": "qGbFaj-I2vz3ymCRRChTGw", "alias": "club-top-u-fit-fitnesscenter-wiener-neustadt-2",
        "name": "Club Top u Fit, Fitnesscenter", "image_url": "", "is_closed": false,
        "url": "https://www.yelp.com/biz/club-top-u-fit-fitnesscenter-wiener-neustadt-2?adjust_creative=U3I_hTsM_rclzkCXyDmD1w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=U3I_hTsM_rclzkCXyDmD1w",
        "review_count": 2, "categories": [{"alias": "gyms", "title": "[...]
