---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=1&radius=40000&sort_by=distance&term=gyms
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-7b96896cd8-g8n4h; site=public_api_v3
      X-Zipkin-Id:
      - 7df19a87a6f651c0
      X-Cloudmap:
      - routing_uswest2
      X-Proxied:
      - 10-69-170-205-uswest2bprod
      X-Extlb:
      - 10-69-170-205-uswest2bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "Authorization
        is a required parameter.", "field": "Authorization", "instance": null}}'
  recorded_at: Sun, 19 Sep 2021 18:59:46 GMT
recorded_with: VCR 6.0.0
