/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// @import url('https://fonts.googleapis.com/css?family=anaglyph');
html, body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(193,193,255,1) 0%, rgba(78,205,255,1) 0%, rgba(45,208,255,1) 32%, rgba(184,227,236,1) 74%);
  margin: 0;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  background-attachment: fixed;
  font-family: 'Tahoma';
  font-size: 20px;
}

main {
  // flex: 1;
}

footer {
  // display: flex;
  // align-self: baseline;
  // flex-direction: row;
}
